
a {
  text-decoration: none;
}
body {
  font-family: sans-serif;
}
#center{
  flex: 4;
  display: flex;
  flex-direction: column;
  border: black solid 2px
}
#chat-input{
  height: 30px;
  width: 700px;
  align-self: flex-end;
}
form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}
#left{
  flex: 2
}
#main-class{
  display: flex;
  flex-direction: row;
}
nav a {
  display: inline-block;
  margin: 1em;
}
#right{
  flex: 2
}

