html,
body {
  overflow: scroll !important;
}

* {
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: scroll;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}


#center {
  flex: 4;
  display: flex;
  flex-direction: column;
  border: black solid 2px;
}
#chat-input {
  height: 200px;
  width: 100px;
  align-self: flex-end;
  max-width: 98%;
  max-height: 90%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
#center {
  flex: 4;
  display: flex;
  flex-direction: column;
  border: black solid 2px;
}
#chat-input {
  height: 30px;
  width: 700px;
  align-self: flex-end;
}

form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}
#left {
  flex: 2;
}
#main-class {
  display: flex;
  flex-direction: row;
}
nav a {
  display: inline-block;
  margin: 1em;
}
#right {
  flex: 2;
}

.studentCourseList {
  margin-left: 10%;
}

.navbarLink {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}
#left {
  flex: 2;
}

.studentClassDashboard {
  background-image: url(studentClassDashboardBackground.png);
  background-size: 100px;
  background-repeat: repeat;
  display: flex;
  align-items: baseline;
  align-content: space-around;
  flex-flow: row;
  flex-wrap: wrap;
  position: fixed;
  height: 100vh;
  padding-bottom: 50vh;
  padding-top: 50vh;
}

.studentClassDashboard .classTitle {
  width: 100%;
  border: none;
  text-align: center;
  font-family: 'Lucida Console', Courier, monospace;
}

.studentClassDashboard > div {
  border: inset;
  border-width: 0.1em;
}

.introductionToTheCourse {
  background-image: url(backgroundIntroductionTotheCourse.jpg);
  background-size: 15px;
  background-repeat: repeat;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 1;
  color: blue;
  width: 10rem;
  height: 15rem;
  padding: 1%;
  margin: 1rem;
}

.studentClassDashboard .liveLecture {
  background-image: url(liveChatBackground.jpg);
  background-size: 50px;
  background-repeat: repeat;
  border-image: url(liveChatBorder.png) 25 25 round;
  flex-grow: 1;
  border-width: 0.75em;
  border-style: outset;
  border-color: coral;
  width: 25%;
  height: 25rem;
  margin: 1rem;
}
#message-main {
  display: flex;
  flex-direction: column;
}
.moreClassInformationComponent {
  background-image: url(backgroundMoreInformationComponent.png);
  background-size: 50px;
  background-repeat: repeat;
  flex-grow: 3;
  border-radius: 1em;
  width: 50%;
  flex-grow: 1;
  flex-basis: 1;
  height: 10rem;
  margin: 1rem;
}

.liveChat {
  background-image: url(chatBackground.png);
  background-size: 100px;
  background-repeat: repeat;
  flex-grow: 2;
  width: 30%;
  height: 15rem;
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 1;
}

.chatButtonCreate {
  background-color: orange;
  overflow: hidden;
}

.chatButtonCreate:hover {
  box-shadow: 1px 1px #961e5a;
}

.chatButtonCreate:hover {
  box-shadow: 1px 1px #961e5a;
}
#right {
  flex: 2;
}
#chat-input {
  height: 208px;
}
.chatButtonSelectAudience {
  background-color: silver;
}

.chatButtonSelectAudience:hover {
  box-shadow: 1px 1px #961e5a;
}

.chatButtonSelectAudience:hover {
  box-shadow: 1px 1px #961e5a;
}

.moreClassInformationComponent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.moreClassInformationComponent > div {
  color: rgb(48, 48, 48);
}

.moreClassInformationComponent .moreClassInformationTitle {
  margin-left: 30%;
}

.localClassInformation > div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.newGroupFormComponent {
  background-image: url(backgroundAddGroupComponent.png);
  background-size: 15px;
  background-repeat: repeat;
  flex-grow: 1;
  margin: 1rem;
  height: auto;
  width: 20%;
  border-radius: 1em;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.newGroupFormComponent .validationText {
  color: rgb(110, 94, 0);
  font-size: 0.25rem;
}

.newGroupFormComponent .currentGroup {
  font-size: 0.75rem;
  border-color: rgba(0, 128, 0, 0.425);
  border-style: outset;
  background-color: rgba(0, 128, 0, 0.301);
  position: relative;
  width: 50%;
}

.newGroupFormComponent .localNewGroupForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.newGroupFormComponent .localNewGroupForm .groupNameInput {
  margin-left: 25%;
  width: auto;
  height: 30%;
  font-size: auto;
}

.selectAudience:focus {
  outline: none;
}

.chatButtonCreate:focus {
  outline: none;
}

.TeacherDash {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500em;
  padding-bottom: 50em;
  overflow-y: scroll;
}

.TeacherDash .teacherDashLogOut {
  margin-left: 90%;
}

.TeacherDash .teacherDashListClasses {
  border-style: outset;
  border-radius: 1em;
  width: 100vw;
  text-align: center;
  background-color: rgb(170, 170, 255);
  height: auto;
}

.TeacherDash .teacherDashClassName {
  border-style: outset;
  padding: 1em;
  margin-left: 1em;
  height: 5em;
}

.addNewClassForm {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.addNewClassForm > div {
  margin-right: -5em;
}

.TeacherDash .teacherDashNewClassButton {
  padding: 3%;
  border-style: outset;
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
}

.TeacherDash .teacherDashNewClassButton:focus {
  outline: none;
}

.TeacherDash .teacherDashNewClassButton:hover,
.TeacherDash .teacherDashNewClassButton:active {
  color: #0475bb;
  background: rgb(230, 230, 230);
}

.TeacherDash .teacherDashNewClassButton:active {
  border-style: inset;
  background: rgb(255, 255, 255);
}

.teacherClassBoard {
  background-color: rgba(176, 255, 176, 0.178);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  /* position: fixed; */
  height: 100vh;
  /* padding-bottom: 500px; */
  /* padding-top: 50vh; */
  overflow-y: scroll;
}

.teacherClassBoard .classboardList {
  border-style: outset;
  width: 100%;
  text-align: center;
  height: 5em;
  overflow-y: scroll;
}

.teacherClassBoard .classboardSchedule {
  border-style: outset;
  background-color: grey;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
  position: relative;
  width: 10em;
  height: 10em;
}

.teacherClassBoard .teacherClassboardOptions {
  display: flex;
  flex-direction: row;
}

.teacherClassBoard .classboardStartLecture {
  background-color: orange;
  padding: 1em;
  border-style: outset;
  height: 5em;
}

.teacherClassBoard .classboardStartLecture:hover,
.teacherClassBoard .classboardStartLecture:active {
  background-color: white;
  outline: none;
}

.teacherClassBoard .classboardStartLecture:focus {
  outline: none;
}

.teacherClassBoard .classboardAttendance {
  background-color: limegreen;
  padding: 1em;
  overflow-y: scroll;
  height: 5em;
}

.attendanceComponent {
  overflow-y: scroll;
  padding-bottom: 1000px;
  width: 100vw;
  height: 5em;
}

.assignmentViewMainDiv {
  overflow-y: scroll;
  padding-bottom: 1000px;
  width: 10000px;
}

.assignmentsByStudent {
  overflow-y: scroll;
  padding-bottom: 1000px;
  width: 100vw;
}

.teacherClassBoard .classboardAttendance:focus {
  outline: none;
}

.teacherClassBoard .classboardAssignments {
  background-color: purple;
  padding: 1em;
  height: 5em;
}

.teacherClassBoard .classboardAssignments:focus {
  outline: none;
}

.teacherClassBoard .classboardAddAssignment {
  background-color: purple;
  padding: 1em;
  height: 5em;
}

.teacherClassBoard .classboardAddAssignment:focus {
  outline: none;
}

.teacherClassBoard .classboardStudent {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  height: 5em;
}

.teacherClassBoard .classboardStudent:focus {
  outline: none;
}

.teacherClassBoard .classboardAddStudent {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  height: 5em;
}

.teacherClassBoard .classboardAddStudent:focus {
  outline: none;
}

.teacherClassBoard .scheduleDashBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 10em;
}

.teacherClassBoard .scheduleDashBox button {
  margin-left: 5em;
}

.teacherClassBoard .scheduleDashBox button:hover {
  background-color: white;
  outline: none;
}

.teacherClassBoard .scheduleDashBox button:active {
  background-color: rgb(129, 129, 129);
  outline: none;
}
.teacher-message{
  color: red;
}
.assignmentViewMainDiv {
  display: flex;
  flex-direction: column;
}

.assignment {
  background-color: rgba(128, 0, 128, 0.288);
  width: 70%;
  padding: 1em;
  border-style: outset;
}

.newAssignment {
  background-color: rgba(128, 0, 128, 0.288);
  width: 50%;
  padding: 1em;
  border-style: outset;
}

.dropdownAssignment {
  background-color: rgba(128, 0, 128, 0.288);
  width: 60%;
  padding: 1em;
  border-style: outset;
}

.assignmentCheckBoxesSection {
  width: 100vw;
}

.assignmentCheckBoxes {
  width: 50em;
  display: flex;
  justify-content: space-between;
}

.assignmentCheckBoxes .checkbox {
  width: auto;
  height: auto;
  background-color: rgba(128, 0, 128, 0.288);
  border-style: outset;
  padding: 1em;
}

.assignmentsByStudent {
  display: flex;
  flex-direction: column;
}

.assignmentsByStudent .student {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  border-style: outset;
  width: 70%;
}

.assignmentsByStudent .newStudent {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  border-style: outset;
  width: 50%;
}

.assignmentsByStudent .dropDown {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  border-style: outset;
  width: 55%;
}

.assignmentsByStudent .studentAssignmentBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.assignmentsByStudent .studentAttendanceBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.assignmentsByStudent .studentAssignmentBoxes .checkbox {
  background-color: rgba(128, 0, 0, 0.288);
  width: auto;
  height: auto;
  padding: 1em;
  border-style: outset;
}

.assignmentsByStudent .studentAttendanceBoxes .checkbox {
  background-color: rgba(128, 0, 0, 0.288);
  width: auto;
  height: auto;
  padding: 1em;
  border-style: outset;
}
/*
chat stuff
*/
/* 
.self{
  color: green;
} */

.student{
  color: red;
}
.teacher{
  color: blue;
}
