@font-face {
  font-family: 'chalktasticitalic';
  src: url('chalktastic_italic-webfont.woff2') format('woff2'),
    url('chalktastic_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chalktasticregular';
  src: url('chalktastic-webfont.woff2') format('woff2'),
    url('chalktastic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: scroll !important;
}

html body {
  color: #fbe06b;
  font-family: 'chalktasticregular', sans-serif !important;
  overflow: scroll !important;
}

#navbar-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-header {
  padding-top: 5vh;
}

.auth-form-component {
  display: flex;
  height: 70vh;
  justify-content: center;
  padding-top: 10vh;
}

.user-home-component {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  padding-top: 3vh;
}

body > #zmmtg-root {
  z-index: -1;
  background-color: black;
  background-image: url('chalkboard-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#auth-form-email {
  background-color: rgba(0, 128, 0, 0.425) !important;
}

#auth-form-password {
  background-color: rgba(0, 128, 0, 0.425) !important;
}

.react-router-link {
  color: rgb(9, 247, 235);
}

.react-router-link:hover {
  color: pink;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#center {
  flex: 4;
  display: flex;
  flex-direction: column;
  border: black solid 2px;
}

.student-chat-input {
  height: 30px;
  width: 500px;
  align-self: flex-end;
  justify-content: flex-start;
  max-width: 98%;
  max-height: 90%;
  /* position: fixed; */
}

.teacher-chat-input {
  height: 30px;
  width: 500px;
  position: relative;
  align-self: flex-end;
  max-width: 98%;
  max-height: 90%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
#center {
  flex: 4;
  display: flex;
  flex-direction: column;
  border: black solid 2px;
}

form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}
#left {
  flex: 2;
}
#main-class {
  display: flex;
  flex-direction: row;
}
nav a {
  display: inline-block;
  margin: 1em;
}
#right {
  flex: 2;
}

.studentCourseList {
  margin-left: 10%;
}

.navbarLink {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}
#left {
  flex: 2;
}

.studentClassDashboard {
  /* background-image: url(studentClassDashboardBackground.png); */
  color: purple;
  background-size: 100px;
  background-repeat: repeat;
  display: flex;
  align-items: baseline;
  align-content: space-around;
  flex-flow: row;
  flex-wrap: wrap;
  /* position: fixed;
  height: 100vh;
  padding-bottom: 50vh;
  padding-top: 50vh; */
  border: outset;
}

.local-time {
  background-color: darkcyan;
  width: 35vw;
}

.studentClassDashboard .classTitle {
  width: 100%;
  border: none;
  text-align: center;
  font-family: 'Lucida Console', Courier, monospace;
}

.studentClassDashboard > div {
  border: inset;
  border-width: 0.1em;
  margin-left: 0.25rem;
  margin-right: 1rem;
}

.introductionToTheCourse {
  background-image: url(backgroundIntroductionTotheCourse.png);
  background-size: 15px;
  background-repeat: repeat;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 1;
  color: blue;
  width: auto;
  height: 15rem;
  padding: 1%;
  margin: 1rem;
}

.studentClassDashboard .liveLecture {
  background-image: url(liveChatBackground.png);
  background-size: 50px;
  background-repeat: repeat;
  border-image: url(liveChatBorder.png) 25 25 round;
  flex-grow: 1;
  border-width: 0.75em;
  border-style: outset;
  border-color: coral;
  width: 25%;
  height: 25rem;
  margin: 1rem;
}
#message-main {
  display: flex;
  height: 13rem;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 10px;
}
.chat-input-prompt {
  display: flex;
  justify-content: flex-end;
}

.moreClassInformationComponent {
  background-image: url(backgroundMoreInformationComponent.png);
  background-size: 50px;
  background-repeat: repeat;
  flex-grow: 3;
  border-radius: 1em;
  width: 50%;
  flex-grow: 1;
  flex-basis: 1;
  height: 10rem;
  margin: 1rem;
}

.liveChat {
  background-image: url(chatBackground.png);
  background-size: 100px;
  background-repeat: repeat;
  flex-grow: 2;
  width: 60vw;
  height: 20rem;
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 1;
}

.chatButtonCreate {
  background-color: orange;
  overflow: hidden;
}

.chatButtonCreate:hover {
  box-shadow: 1px 1px #961e5a;
}

.chatButtonCreate:hover {
  box-shadow: 1px 1px #961e5a;
}
#right {
  flex: 2;
}
.chatButtonSelectAudience {
  background-color: silver;
}

.chatButtonSelectAudience:hover {
  box-shadow: 1px 1px #961e5a;
}

.chatButtonSelectAudience:hover {
  box-shadow: 1px 1px #961e5a;
}

.moreClassInformationComponent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.moreClassInformationComponent > div {
  color: rgb(48, 48, 48);
}

.moreClassInformationComponent .moreClassInformationTitle {
  margin-left: 30%;
}

.localClassInformation > div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.newGroupFormComponent {
  background-image: url(backgroundAddGroupComponent.png);
  background-size: 15px;
  background-repeat: repeat;
  flex-grow: 1;
  margin: 0px;
  height: auto;
  width: auto;
  /* border-radius: 1em; */
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.newGroupFormComponent .validationText {
  color: rgb(110, 94, 0);
  font-size: 0.25rem;
}

.newGroupFormComponent .currentGroup {
  font-size: 0.75rem;
  border-color: rgba(0, 128, 0, 0.425);
  border-style: outset;
  background-color: rgba(0, 128, 0, 0.301);
  position: relative;
  width: 50%;
}

.newGroupFormComponent .localNewGroupForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.newGroupFormComponent .localNewGroupForm .groupNameInput {
  margin-left: 25%;
  width: auto;
  height: 30%;
  font-size: auto;
}

.selectAudience:focus {
  outline: none;
}

.chatButtonCreate:focus {
  outline: none;
}

.TeacherDash {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 50em;
  overflow-y: scroll;
}

.TeacherDash .teacherDashLogOut {
  margin-left: 90%;
}

.TeacherDash .teacherDashListClasses {
  border-style: outset;
  border-radius: 1em;
  width: 100vw;
  text-align: center;
  background-color: rgb(170, 170, 255);
  height: auto;
}

.TeacherDash .teacherDashClassName {
  border-style: outset;
  padding: 1em;
  margin-left: 1em;
  height: 5em;

  border-style: outset;

  text-align: center;
  background: transparent;
  color: #fc881b;
  font-size: 1em;
  overflow: hidden;
  backface-visibility: hidden;

  border-radius: 1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.TeacherDash .teacherDashClassName:hover,
.TeacherDash .teacherDashClassName:active {
  color: #bb0493;
  background: #6764ffbe;
  -webkit-transform: rotateX(10deg);
  -webkit-transform: rotateY(20deg);
  -moz-transform: rotateX(50deg);
  -moz-transform: rotateY(50deg);
  -ms-transform: rotateX(10deg);
  -ms-transform: rotateY(60deg);
  transform: rotateX(50deg);
  transform: rotateY(10deg);
}

.addNewClassForm {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.addNewClassForm > div {
  margin-right: -5em;
}

.TeacherDash .teacherDashNewClassButton {
  padding: 3%;
  border-style: outset;
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
  background: transparent;
  color: #226fbe;
  font-size: 1em;
  overflow: hidden;
  backface-visibility: hidden;
  border: 0.1em outset #226fbe;
  height: auto;
  border-radius: 1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.TeacherDash .teacherDashNewClassButton:focus {
  outline: none;
}

.TeacherDash .teacherDashNewClassButton:hover,
.TeacherDash .teacherDashNewClassButton:active {
  color: #0475bb;
  background: #ff7b64be;
  -webkit-transform: rotateX(10deg);
  -webkit-transform: rotateY(20deg);
  -moz-transform: rotateX(50deg);
  -moz-transform: rotateY(50deg);
  -ms-transform: rotateX(10deg);
  -ms-transform: rotateY(60deg);
  transform: rotateX(50deg);
  transform: rotateY(10deg);
}

.TeacherDash .teacherDashNewClassButton:active {
  border-style: inset;
  background: transparent;
}

.teacherClassBoard {
  background-color: rgba(176, 255, 176, 0.178);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  /* position: fixed; */
  height: 100vh;
  /* padding-bottom: 500px; */
  /* padding-top: 50vh; */
  overflow-y: scroll;
}

.teacherClassBoard .classboardList {
  border-style: outset;
  width: 100%;
  text-align: center;
  height: 5em;
  overflow-y: scroll;
}

.teacherClassBoard .classboardSchedule {
  border-style: outset;
  background-color: rgba(128, 128, 128, 0.445);
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
  position: relative;
  width: 10em;
  height: 10em;
}

.teacherClassBoard .teacherClassboardOptions {
  display: flex;
  flex-direction: column;
}

.teacherClassBoard .classboardStartLecture {
  background-color: rgba(255, 166, 0, 0.418);
  padding: 1em;
  border-style: outset;
  height: 5em;
  width: 50vw;
}

.teacherClassBoard .classboardStartLecture:hover,
.teacherClassBoard .classboardStartLecture:active {
  background-color: white;
  outline: none;
}

.teacherClassBoard .classboardStartLecture:focus {
  outline: none;
}

.submitAttendance {
  width: 4.5em;
}

.teacherClassBoard .classboardAttendance {
  background-color: rgba(50, 205, 50, 0.39);
  padding: 1em;
  overflow-y: scroll;
  height: 5em;
  width: 50vw;
}

.teacherClassBoard .classboardInformation {
  background-color: rgba(205, 50, 50, 0.39);
  padding: 1em;
  overflow-y: scroll;
  height: 5em;
  width: 50vw;
}

.attendanceForm {
  display: flex;
  flex-direction: column;
}

.attendanceFormOptions {
  display: flex;
  flex-direction: row;
}

.attendanceComponent {
  overflow-y: scroll;
  padding-bottom: 1000px;
  width: 100vw;
  height: 5em;
}

.assignmentViewMainDiv {
  overflow-y: scroll;
  padding-bottom: 1000px;
  width: 10000px;
}

.assignmentsByStudent {
  overflow-y: scroll;
  padding-bottom: 1000px;
  width: 100vw;
}

.teacherClassBoard .classboardAttendance:focus {
  outline: none;
}

.teacherClassBoard .classboardAssignments {
  background-color: rgba(128, 0, 128, 0.39);
  padding: 1em;
  height: 5em;
  width: 50vw;
}

.teacherClassBoard .classboardAssignments:focus {
  outline: none;
}

.teacherClassBoard .classboardAddAssignment {
  background-color: rgba(128, 0, 128, 0.39);
  padding: 1em;
  height: 5em;
  width: 50vw;
}

.teacherClassBoard .classboardAddAssignment:focus {
  outline: none;
}

.teacherClassBoard .classboardStudent {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  height: 5em;
  width: 50vw;
}

.teacherClassBoard .classboardStudent:focus {
  outline: none;
}

.teacherClassBoard .classboardAddStudent {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  height: 5em;
  width: 50vw;
}

.teacherClassBoard .classboardAddStudent:focus {
  outline: none;
}

.teacherClassBoard .scheduleDashBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 10em;
}

.teacherClassBoard .scheduleDashBox button {
  margin-left: 5em;
}

.teacherClassBoard .scheduleDashBox button:hover {
  background-color: white;
  outline: none;
}

.teacherClassBoard .scheduleDashBox button:active {
  background-color: rgb(129, 129, 129);
  outline: none;
}
.teacher-message {
  color: red;
}
.assignmentViewMainDiv {
  display: flex;
  flex-direction: column;
}

.assignment {
  background-color: rgba(128, 0, 128, 0.288);
  width: 70%;
  padding: 1em;
  border-style: outset;
}

.newAssignment {
  background-color: rgba(128, 0, 128, 0.288);
  width: 50%;
  padding: 1em;
  border-style: outset;
}

.dropdownAssignment {
  background-color: rgba(128, 0, 128, 0.288);
  width: 30em;
  padding: 1em;
  border-style: outset;
}

.assignmentCheckBoxesSection {
  width: 100vw;
}

.assignmentCheckBoxes {
  width: 50em;
  display: flex;
  justify-content: space-between;
}

.assignmentCheckBoxes .checkbox {
  width: auto;
  height: auto;
  background-color: rgba(128, 0, 128, 0.288);
  border-style: outset;
  padding: 1em;
}

.assignmentsByStudent {
  display: flex;
  flex-direction: column;
}

.assignmentsByStudent .student {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  border-style: outset;
  width: 70%;
}

.assignmentsByStudent .newStudent {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  border-style: outset;
  width: 50%;
}

.assignmentsByStudent .dropDown {
  background-color: rgba(128, 0, 0, 0.288);
  padding: 1em;
  border-style: outset;
  width: 55%;
}

.assignmentsByStudent .studentAssignmentBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10em;
}

.assignmentsByStudent .studentAttendanceBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.assignmentsByStudent .studentAssignmentBoxes .checkbox {
  background-color: rgba(128, 0, 0, 0.288);
  width: auto;
  height: auto;
  padding: 1em;
  border-style: outset;
}

.assignmentsByStudent .studentAttendanceBoxes .checkbox {
  background-color: rgba(128, 0, 0, 0.288);
  width: auto;
  height: auto;
  padding: 1em;
  border-style: outset;
}
/*
chat stuff
*/
/*
.self{
  color: green;
} */

/*
Message Fonts
*/
.student-public {
  color: blue;
}
.student-teacher {
  color: lightcoral;
}
.teacher-dm {
  color: red;
  text-decoration: underline;
}
.teacher-public {
  color: red;
}
.online-student {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.submitCourse {
  background: #ff7b64be;
  color: #fff;
  font-size: 1em;
  overflow: hidden;
  backface-visibility: hidden;
  border: 0.1em double #226fbe;
  height: auto;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: 50%;
  margin-left: 25%;
}

.submitCourse:hover {
  background: transparent;
  color: #09ff00;
  -webkit-transform: rotateX(10deg);
  -webkit-transform: rotateY(20deg);
  -moz-transform: rotateX(50deg);
  -moz-transform: rotateY(50deg);
  -ms-transform: rotateX(10deg);
  -ms-transform: rotateY(60deg);
  transform: rotateX(50deg);
  transform: rotateY(10deg);
}

.submitCourse:focus {
  outline: none;
}
.submitCourse:active {
  background: #9053a9;
  top: 1em;
}

.submitCourse:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 25;
  font-size: 180%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.addNewAssignmentForm {
  width: 100%;
}

.addNewStudentForm {
  width: 100%;
}

<<<<<<< HEAD

/*
Draft css for assignment updates


*/
/* .student-dashboard-container{
  display: flex;
}
.studentCourseList {
  flex: 5
}
.assignments{
  flex: 1
} */
/* .submit-assignment{
  position: absolute;
  right: 50px;
} */
=======
.courseNameTextArea {
  height: 100%;
  width: 100%;
}

.courseSizeTextArea {
  height: 100%;
  width: 100%;
}

.courseIntroTextArea {
  height: 100%;
  width: 100%;
}

.courseMoreInformationTextArea {
  height: 100%;
  width: 100%;
}

.courseScheduleTextArea {
  height: 100%;
  width: 100%;
}

.buttonUpdateCourse {
  background-color: rgba(255, 217, 0, 0.74);
  padding: 0.25em;
}
>>>>>>> dde2ef0455d0e9fbb809ba0c489daa9a0caba980
